{% include "Header.html" %}
        <div id="fullcarousel-example" data-interval="5000" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="../static/core/imagenes/Logo.jpg">
                </div>
                <div class="item">
                    <img src="../static/core/imagenes/Galeria.jpg">
                </div>
                <div class="item">
                    <img src="../static/core/imagenes/Cervezas 1.jpg">
                </div>
                <div class="item">
                    <img src="../static/core/imagenes/Cervezas 2.jpg">
                </div>
                <div class="item">
                    <img src="../static/core/imagenes/Comida.jpg">
                </div>
                <div class="item">
                    <img src="../static/core/imagenes/Hamburguesa.jpg">
                </div>
            </div>
            <a class="left carousel-control" href="#fullcarousel-example" data-slide="prev"><i class="icon-prev fa fa-angle-left"></i></a>
            <a class="right carousel-control" href="#fullcarousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i> </a>
        </div>{% include "Footer.html" %}
